/* =============================================================
  GENERAL STYLE
 ============================================================ */
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#f70808;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

/* =============================================================
  HEADER SECTION
 ============================================================ */

 .header{
  position: fixed;
  top:0; left:0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
  background:transparent;
  box-shadow: var(--box-shadow);
}

.header img{
  height: 6rem;
}

.header .logo i{
  color:var(--orange);
}

.header .navbar a{
  font-size: 1.7rem;
  margin:0 1rem;
  color:var(--black);
  text-decoration: none;
}

.header .navbar a:hover{
  color:var(--orange);
}

.header:hover{  
  outline-offset: 0rem;
  background: white
}

.header .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: transparent;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover{
  background: var(--orange);
  color:#fff;
}

#menu-btn{
  display: none;
}

.header .shopping-cart{
  position: absolute;
  top:110%; right:-110%;
  padding:1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width:35rem;
  background: #fff;
}

.header .shopping-cart.active{
  right:2rem;
  transition: .4s linear;
}

.header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap:1rem;
  position: relative;
  margin:1rem 0;
}

.header .shopping-cart .box img{
  height:10rem;
}

.header .shopping-cart .box .fa-trash{
  font-size: 2rem;
  position: absolute;
  top:50%; right:2rem;
  cursor: pointer;
  color:var(--light-color);
  transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
  color:var(--orange);
}

.header .shopping-cart .box .content h3{
  color:var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
  color:var(--light-color);
  font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
  padding-left: 1rem;
}

.header .shopping-cart .total{
  font-size: 2.5rem;
  padding:1rem 0;
  text-align: center;
  color:var(--black);
}

.header .shopping-cart .btn{
  display: block;
  text-align: center;
  margin:1rem;
}

.header .login-form{
  position: absolute;
  top:110%; right:-110%;
  width:35rem;
  box-shadow: var(--box-shadow);
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box{
  width: 100%;
  margin:.7rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}

.header .login-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--light-color);
}

.header .login-form p a{
  color:var(--orange);
  text-decoration: underline;
}

/* =============================================================
  CAROUSEL SECTION
 ============================================================ */
 .carousel{
  height: 650px;
}

.carousel img{
  height: 650px;
}

.parrafo{
  font-size: 2rem;
}

.home h2{
  padding: 10px;
}

.home .button{
  padding: 10px 25px;
  margin-right: 10px;
}

/* =============================================================
  CARDS SECTION
 ============================================================ */
.button{
    margin-top: 1rem;
    display: inline-block;
    padding:.6rem 2rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
    text-decoration: none;
}

.button:hover{
    background: var(--orange);
    color:#fff;
}

.card .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap:1.5rem;
}

.card .box-container .box{
  padding:3rem 2rem;
  border-radius: .5rem;
  background:#fff;
  box-shadow: var(--box-shadow);
  outline:var(--outline);
  outline-offset: -1rem;
  text-align: center;
}

.card .box-container .box:hover{
  outline:var(--outline-hover);
  outline-offset: 0rem;
}

.card .box-container .box img{
  margin:1rem 0;
  height:15rem;
}

.card .box-container .box h3{
 font-size: 2rem;
 color:var(--black);
 line-height: 1.8;
}

.card .box-container .box p{
  font-size: 1.7rem;
  color:var(--light-color);
  line-height: 1.8;
  padding:1rem 0;
}

/* =============================================================
  CONTACT SECTION
 ============================================================ */
.alert{
  display: block;
  padding: 12px 20px;
  background: #f8d7da;
  color: #f70808;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

.contenedor{
  width: 100%;
  background: #fff;
  padding: 40px;
  
}

.contenedor h1{
  font-size: 30px;
  font-weight: 550;
  text-align: center;
  margin-bottom: 25px;
  color:var(--black);
}

.contenido{
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 1.5rem;
}

.contenido .info,
.contenido .formulario{
  width: 50%;
}
/**/
.contenido p{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
  width: 500px;
}
.contenido a{
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.contenido a .tel{
  color: #f70808;
  margin-right: 10px;
}
/**/

.info{
  padding-left: 100px;
}

.contenido .formulario{
  width: 550px;
}

.info .col{
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  font-size: 16px;
  align-items: center;
  flex-wrap: nowrap;
}

.info .col .icono{
  color: #f70808;
  margin-right: 10px;
}

.info .texto{
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
  width: 450px;
}

.info .redes-s{
  width: 100%;
  overflow: hidden;
  padding-left: 25px;
  display: flex;
  flex-wrap: wrap;
}
.info .redes-s a{
  display: flex;
  width: 40px;
  height: 40px;
  background: #f70808;
  color: #fff;
  margin: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
  text-decoration: none;
}
.info .redes-s a:hover{
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
  background: #130f40
}

.formulario{
  padding-left: 10px;
}

.formulario input[type='text'],
.formulario textarea{
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  color: #999;
  font-weight: 400;
  outline: 0;
}

.formulario textarea{
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus{
  border: 1px solid #f70808;
}

.formulario button{
  padding: 13px;
  font-size: 16px;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  outline: 0px;
  background: transparent;
  color: black;
  border-radius: .5rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.formulario button:hover{
  background: #f70808;
  color: #fff;
}

/* =============================================================
  FOOTER SECTION
 ============================================================ */
.footer li{
  font-size: 1.5rem;
  padding: 20px 10px 0px 10px;
}

.footer p{
  font-size: 1.3rem;
}

/* =============================================================
  MEDIA QUERIES
 ============================================================ */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:2rem;
  }

  section{
      padding:2rem;
  }
}

@media (max-width:768px){

  #menu-btn{
      display: inline-block;
  }

  .header .navbar{
      position: fixed;
      top:110%; right:-110%;
      width:30rem;
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      background: #fff;
  }

  .header .navbar.active{
      right:2rem;
      transition: .4s linear;
  }

  .header .navbar a{
      font-size: 2rem;
      margin:2rem 2.5rem;
      display: block;
  }

  .carousel{
    height: 500px;
  }

  .carousel img{
    height: 500px;
  }

  .contenido .info,
  .contenido .formulario{
      width: 100%;
      padding: 0px;
  }

  .contenido .info{
      margin-bottom: 30px;
  }
}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .heading{
      font-size: 2.5rem;
  }

  .contenedor{
    padding: 40px 20px;
  }

  .contenido .info,
  .contenido .formulario{
      width: 100%;
      padding: 0px;
  }

  .contenido .info{
      margin-bottom: 30px;
  }

  .footer{
      text-align: center;
  }

  .footer li{
    font-size: 1.2rem;
}

  .footer p{
    font-size: 1.1rem;
  }

}